In [1]:
# import the necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
# import datetime as dt

In [2]:
df = pd.read_excel('../datasets/cleaned_orders.xlsx')
print(df.dtypes)
df.head(2)

Unnamed: 0                                int64
customer_id                               int64
order_time                               object
item_quantity                             int64
item_id                                  object
item_price                              float64
item_discount_raw                       float64
item_discount_percentage                float64
item_disc_bins_item_disc_null             int64
item_disc_bins_item_disc_sub_twenty       int64
item_disc_bins_item_disc_sub_forty        int64
item_disc_bins_item_disc_sub_sixty        int64
item_disc_bins_item_disc_sub_eighty       int64
item_disc_bins_item_disc_sub_hundred      int64
dtype: object

,Unnamed: 0,customer_id,order_time,item_quantity,item_id,item_price,item_discount_raw,item_discount_percentage,item_disc_bins_item_disc_null,item_disc_bins_item_disc_sub_twenty,item_disc_bins_item_disc_sub_forty,item_disc_bins_item_disc_sub_sixty,item_disc_bins_item_disc_sub_eighty,item_disc_bins_item_disc_sub_hundred
0,0,0,2022-04-29 18:29:49 +0800,1,Arzuaga blanco,49.0,0.0,0.0,1,0,0,0,0,0
1,1,0,2022-04-29 18:29:49 +0800,1,Arzuaga reserva,94.0,0.0,0.0,1,0,0,0,0,0

In [3]:
pd.set_option('display.max_columns', None)
df.head(10)

,Unnamed: 0,customer_id,order_time,item_quantity,item_id,item_price,item_discount_raw,item_discount_percentage,item_disc_bins_item_disc_null,item_disc_bins_item_disc_sub_twenty,item_disc_bins_item_disc_sub_forty,item_disc_bins_item_disc_sub_sixty,item_disc_bins_item_disc_sub_eighty,item_disc_bins_item_disc_sub_hundred
0,0,0,2022-04-29 18:29:49 +0800,1,Arzuaga blanco,49.0,0.0,0.0,1,0,0,0,0,0
1,1,0,2022-04-29 18:29:49 +0800,1,Arzuaga reserva,94.0,0.0,0.0,1,0,0,0,0,0
2,2,1,2022-04-22 18:08:59 +0800,1,Eclisse,51.0,0.0,0.0,1,0,0,0,0,0
3,3,1,2022-04-22 18:08:59 +0800,2,Refosco,62.0,0.0,0.0,1,0,0,0,0,0
4,4,2,2022-05-29 19:37:45 +0800,1,Wine Ambassador Series: Portugal - 1700 - 1800,39.0,0.0,0.0,1,0,0,0,0,0
5,5,3,2023-07-20 17:00:28 +0800,1,Ziereisen Blauer Spatburgunder 2017,50.0,0.0,0.0,1,0,0,0,0,0
6,6,3,2023-07-20 17:00:28 +0800,1,Corte Moschina I Tarai 2020,44.0,0.0,0.0,1,0,0,0,0,0
7,7,3,2023-07-20 17:00:28 +0800,1,Cascina Chicco Birbet NV,32.0,0.0,0.0,1,0,0,0,0,0
8,8,4,2023-06-03 16:06:32 +0800,2,"Wine Ambassador Series: Spier Winery, Stellenb...",29.0,0.0,0.0,1,0,0,0,0,0
9,9,5,2022-01-22 05:52:45 +0800,2,Luca Old Vine Malbec 2017,70.9,0.0,0.0,1,0,0,0,0,0

In [ ]:
df.drop(columns=df.columns[0], axis=1, inplace=True)
df['order_date'] = pd.to_datetime(df['order_time']).dt.date
df['order_time'] = pd.to_datetime(df['order_time']).dt.date