In [1]:
import pandas as pd

In [28]:
df = pd.read_csv('../datasets/matched_orders_with_metafields.csv')

In [29]:
print(df.shape)
print(df.columns)
df.head(5)

(14307, 71)
Index(['Unnamed: 0', 'customer_id', 'order_date', 'order_time', 'sku',
       'item_id', 'item_quantity', 'item_price', 'item_discount_raw',
       'item_discount_percentage', 'item_disc_bins_item_disc_null',
       'item_disc_bins_item_disc_sub_twenty',
       'item_disc_bins_item_disc_sub_forty',
       'item_disc_bins_item_disc_sub_sixty',
       'item_disc_bins_item_disc_sub_eighty',
       'item_disc_bins_item_disc_sub_hundred', 'product_name',
       'shopify_product_id', 'product_type', 'title_tag', 'gender',
       'condition', 'acidity', 'black_fruit', 'country', 'dryness',
       'fermentation', 'glass', 'grape', 'maker', 'oak',
       'one_liner_description', 'region', 'spices', 'tannin', 'alcohol_',
       'body', 'one_liner', 'serving_temperature', 'western_food_pairing',
       'food_pairing', 'stone_fruit', 'dried_fruit', 'regional_varietals',
       'google_product_type', 'red_fruit', 'awards', 'floral', 'herbasceous',
       'citrus', 'google_product_category', 'sustainability',
       'fermentation_method', 'fermentation_duration', 'winemaking_techniques',
       'primary_notes', 'secondary_taste_notes', 'earthy', 'herbs',
       'winemaking_practices', 'decant', 'review_data', 'mineral', 'varietal',
       'tree_fruit', 'yeasty', 'tropical_fruit', 'rating', 'rating_count',
       'reviews', 'description_tag'],
      dtype='object')

,Unnamed: 0,customer_id,order_date,order_time,sku,item_id,item_quantity,item_price,item_discount_raw,item_discount_percentage,...,review_data,mineral,varietal,tree_fruit,yeasty,tropical_fruit,rating,rating_count,reviews,description_tag
0,0,3,2023-07-20,17:00:28,NaN,Ziereisen Blauer Spatburgunder 2017,1.0,50.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3,2023-07-20,17:00:28,NaN,Corte Moschina I Tarai 2020,1.0,44.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,2023-07-20,17:00:28,NaN,Cascina Chicco Birbet NV,1.0,32.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,7,2022-05-29,20:43:58,BBW-WINE-153,Loveblock Gewurztraminer 2020,1.0,44.0,0.0,0.0,...,NaN,NaN,"[""Gewürztraminer""]",NaN,NaN,"Guava, Lychee",NaN,NaN,NaN,NaN
4,4,7,2022-05-29,20:43:58,NaN,Southern Right Pinotage 2020,1.0,56.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
item_names_to_exclude = [
    'tasting', 'workshop', 'event', 'bundle', 'subscription', 
    'venue booking', 'engagement', 'jancis', 'zalto', 
    'outstanding balance', 'cheese', 'wine addict', 'wine virgin', 'wine nut', 
    'shopee', 'crackers', 'chip', 'pretzel', 'chili', 'nuts',
    'harvest box', 'coconut water', 'tonic water', 'lavender water', 'sparkling water', 
    'dash water', 'fiji water', 'all shook up', 'mezete', 'dinner', 
    'catering', 'service', 'barbecue', 'barbeque', 'charcuterie', 'platter',
    'decanter', 'case of', 'networking', 'shiok', 'cappuccino', 'latte', 
    'soda', 'sparkling juice', 'hamper', 'zieher', 'gift card', 'gift set',
    'hunny bunny', 'sampl', 'misc', 'combo', 'pax', 'pizza', 'bbq', 
    'glassware', 'snowboard', 'chocolate', 'gift wrap', 'bottled water', 
    "riedel 'vinum'", "riedel 'extreme'", 'riedel winewings',
    'wine ambassador series', 'wine stoppers', 'pasta', 'tomato sauce', 
    'gift message', 'olive oil', 'magazine'
]

In [31]:
df1 = df[~df['item_id'].str.lower().str.contains('|'.join(item_names_to_exclude))]
df1.reset_index(drop=True, inplace=True)
print(df1.shape)

(14154, 71)

In [32]:
df1['product_type'].value_counts()

product_type
Red Wine            8206
White Wine          3393
Sparkling Wine       953
Orange Wine          406
Rose Wine            339
Dessert Wine         299
Sake                 111
Fortified Wine       104
Gin                   73
Cocktail Mixes        53
No Alcohol Wine       46
Whiskey               24
Wine                  22
Hard Cider            18
Gift & Hamper         13
Vodka                 11
Tequila               10
Liqueurs              10
Rum                    9
Syrup                  9
Beer                   6
Quince                 5
Wine Aerators          4
Mezcal                 3
Snack Foods            3
Liquor & Spirits       2
Cognac                 1
Whiskey Cream          1
Soda                   1
Armagnac               1
Juice                  1
Name: count, dtype: int64

In [33]:
product_types_to_exclude = [
    'Chips', 'Coffee', 'Dips & Spreads', 'Event Tickets', 'Gift & Hamper', 'Gift Message', 'Snack Foods',
    'Stemware', 'Wine Aerators', 'Water', 'Vitamins & Supplements', 'Candy & Chocolate', 'Bottle Stoppers & Savers'
]

In [34]:
df2 = df1[~df1['product_type'].isin(product_types_to_exclude)]
print(df2.shape)

(14134, 71)

In [35]:
df2['product_type'].value_counts()

product_type
Red Wine            8206
White Wine          3393
Sparkling Wine       953
Orange Wine          406
Rose Wine            339
Dessert Wine         299
Sake                 111
Fortified Wine       104
Gin                   73
Cocktail Mixes        53
No Alcohol Wine       46
Whiskey               24
Wine                  22
Hard Cider            18
Vodka                 11
Tequila               10
Liqueurs              10
Syrup                  9
Rum                    9
Beer                   6
Quince                 5
Mezcal                 3
Liquor & Spirits       2
Cognac                 1
Whiskey Cream          1
Soda                   1
Armagnac               1
Juice                  1
Name: count, dtype: int64

In [36]:
df2.to_csv('../datasets/orders_with_metafields.csv')